<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        body {
            background-color: {{ background_color }};
        }
    </style>
</head>
<body>
    <h1>Flask App v.2</h1>
    <h2>Current Date and Server IP</h2>
    <p><strong>Current Date:</strong> {{ current_date }}</p>
    <p><strong>Server IP:</strong> {{ server_ip }}</p>
    <p><strong>Server hostname:</strong> {{ server_hostname }}</p>
    <p><strong>Background Color:</strong> {{ background_color }}</p>
</body>
</html>
